<div class="head">
    <h1 >Connect with us</h1>

<div class="contactbox">
<div class="cleft">
    <h2>Send your Request</h2>
    <form>
        <div class="frow">
            <div class="fgroup">
        <label>Name</label><input type="text" placeholder="Jhon micheal">
        </div>
        <div class="fgroup">
            <label>Phone</label><input type="text" placeholder="+1 412 356 8909">
            </div>
        </div>
        <div class="frow">
            <div class="fgroup">
        <label>Email</label><input type="email" placeholder="@jhonmicheal">
        </div>
        <div class="fgroup">
            <label>Subject</label><input type="text" placeholder="productname">
            </div>
        </div>
        <label>Message</label>
        <textarea rows="5" placeholder="your message"> </textarea>
    <button>send</button>
    </form>
</div>
<div class="cright">
    <h2>Reach Us</h2>
    <table>
        <tr>
            <td> Email</td>
            <td> abc@gamil.com</td>
        </tr>
        <tr>
            <td> Phone</td>
            <td> +1 012 345 6780</td>
        </tr>
        <tr>
            <td> Address</td>
            <td> #212,ground floor,7th cross street,kizhpauk,chennai-609102</td>
        </tr>
        </table>
</div>
</div>
</div>
