<!-- <h1>Examples of Angular </h1>

<div>
    <input type="radio" name="rb" (click)= "ChangeData(true)" checked > Valid
    <input type="radio" name="rb" (click)= "ChangeData(false)"> Invalid
    </div>
    <div *ngIf="isValid">
    <b>The Data is valid.</b>
    </div> 
    ` <div *ngIf="!isValid">
    <b>The Data is invalid.</b>
    </div> 
    <form #g1="ngForm" (ngSubmit)="template(g1)">
    <div>
        USername: <input type="text" name="USername" ngModel>
        </div>
        <div>
            password:<input type="password" name ="password" ngModel>
        </div>
        <button> login </button>
    </form> 
     <router-outlet>  </router-outlet>  
     <app-login ></app-login>   --> 
    
<!-- <p *ngIf="ngiif;then boook;else book;"> list's are below</p>
<ng-template #boook>
    list are shown
    </ng-template>
<ng-template #book>
    not found
    </ng-template> -->

    <!-- <div>
        show<input type ="checkbox" [(ngModel)]="result">
    </div>
    <p *ngIf="result">show is checked</p> -->

      <app-cart></app-cart>  
      <router-outlet></router-outlet>
    <!-- <app-login></app-login> -->