<!-- <style>
  body{
    background-color: bisque;
  }
</style> -->


<div>
  
<!-- <ul>
    <li class="fl"><a href="#home"> <h3>Home </h3></a></li>
    <li><a href="#heading"> <h2> Zazzle Ethnic </h2> </a></li>
    <li><a href="#login" class="fr"> <h4>Login </h4></a></li>
 
  </ul> -->
  <!-- <table class="tab" style="width: 100%" >
        <tr >
      <td >
        <a href="#home" > <h3 class="w">Home </h3> 
          </a>
        
      </td>
      <td>
        <a href="#heading" style=  "text-align: center"> <h2 class="w"> Zazzle Ethnic </h2> </a>
      </td>
      <td>
        <a href="#login" class="fr"> <h4 class="w"  (click)=" serverSide()">About us </h4></a> 
      </td>
    </tr>
  </table>
  </div> -->

  <div style="position: fixed; width: 100%;" class="menubar bgimg">
    
<ul style="margin:0;">
  <li class="active"><a routerLink="/">Home</a>
<div class="menu" >
  <ul>
    <li><a (click)="this.showVideo=true" href="#">login</a></li>
    <li><a href="https://www.linkedin.com/feed/">Sign Up</a></li>
    <li><a href="#">Sign In</a></li>
    
  </ul>
</div>
</li>                                                                                                                                                                                                                                 

<li><a >Offers</a></li>
<li><a routerLink="/C">Contact</a></li>
<li><a routerLink="/AU">About US</a></li>



 <li> <i style="font-size: 30px; color: black;" routerLink="/S1" class="fas fa-cart-plus"></i></li>
<li><a class="pos">{{totalItem}}</a></li>


  <!-- <li> <img class="mg" src="assets/img/zazzl.png" ></li> -->
  
  </ul>
  </div>
 
  
  <!-- <div >
    <p border="1" *ngFor="let i of datval">
        {{i.name}}
        </p>
        </div>
        <button (click)="sign()"> view data </button> -->
        <div >
 <!-- <div *ngFor="let i of student "class="box container" >
  <img class="im" src="assets/img/frock.jpeg" >
  <br>
  <b>Maxi gown foe Women</b> 
 

   <p> {{i.name}}
  </p>
   
    <p>{{i.id}}
  </p>
 <button class="kk"> Buy </button> 
 <p (click)="serverSide()"> hii </p> -->
<!-- </div> -->


</div>
</div>
<app-loginc  [show]="this.showVideo"></app-loginc>

<!-- <div class="navbar">
<p class="active">contact us</p> 
  <p>23A,town buliding,taylor road,kizhpauk.</p>
  
</div>  -->


    
    

    
    